//В этом файле обновляем(переписываем) стандартные переменные и значения из бутстрапа
//! Важно прописывать свои стили до импорта стандартных стилей бутсрапа, в противном случае они не будут применены. К примеру значение для цвета указаны в бутстрап как дефолтные то есть если не укзано никаких других. В таком случае получается если определять переменные до импорта бутсрап будет видеть что цвет уже определен и что дефолтное значение применять не надо
$primary: #FFFFFF;
$secondary: #C4C4C4;


@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

//! map-values Для того что бы добавить в карту уже существующих переменных бутсрапа свои переменные для этого сначала нгадо создать новую карту($custom-theme-colors) и в нее записать переменные со значениями которые хочу добавить. Также для того что бы добавить эту карту в уже существующую карту бутсрапа надо импортировать два файла _variables & _functions. Это делается до объявления своей карты переменных, так же после любых переменных которые мы уже переопределили.
$custom-theme-colors: (
    'accent': #D1A954,
    "bgdark": #333333,
    "altsecondary": #989898,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors); //! здесь мы сливаем две карты в одну с помощью метода map-merge() и записываем уже слитую карту в уже существующую карту бутсрапа
