// colors
$primary: #FFFFFF;
$secondary: #C4C4C4;
$accent: #D1A954;
$bgdark: #333333;
$altsecondary: #989898;

// fonts
// $title_font: 'open_sans_condensedbold', sans-serif;
$title: 'Open Sans Condensed Bold', sans-serif;
$article: 'Open Sans Regular', sans-serif;
$article-bold: 'Open Sans Semibold', sans-serif;